{:deps {:aliases [:dev]}
 :dev-http {8084 ["resources/public" "classpath:public"]}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn brianwitte.prod/main}}
   :devtools {:after-load brianwitte.core/main}
   :output-dir "resources/public/js"}}}
